.profile__edite {
    padding: 220px 0 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFF;
    font-family: Inter, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media screen and (max-width: 768px) {
    .profile__edite {
        padding: 210px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .profile__edite {
        font-size: 12px;
        padding: 379px 0 0;
    }
}
